<div class="navbar-container">
    <nav class="menu" id="menu" style="margin-top: 150px;">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">  
        </label>
        <a href="/blogs" title="Blogs" class="menu-item blue"><i class="bi bi-newspaper"></i></a>
        <a href="#" title="Tools" class="menu-item purple"><i class="bi bi-tools"></i></a>
        <a href="/portfolio" title="Portfolio" class="menu-item orange"><i class="bi bi-device-hdd-fill"></i></a>
        <a href="/" title="Home" class="menu-item blue"><i class="bi bi-house-heart home"></i></i></a>
    </nav>

    <script defer>
        let menu = document.getElementById("menu")
        window.addEventListener('scroll', function(){
            menu.style.marginTop = Math.max(150, document.documentElement.scrollTop + 120) + 'px';
        });
    </script>
</div>  